<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.upjs.ics.folkjukebox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GUI.SongListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <style android:name="android.intent.style.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".logic.provider.SongContentProvider"
            android:authorities="sk.upjs.ics.folkjukebox"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".GUI.SongDetailActivity"></activity>
    </application>

</manifest>